
<body >

  <app-header-utente></app-header-utente>

  
    <div class="contenitore-principale">
      <!-- <nav aria-label="breadcrumb" style="margin-bottom: -80px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">prenotazioni</li>
        </ol>
      </nav> -->
  
    <div class="contenitore-bottoni">
      <button class="bottone" (click)="lunedi()" style="background-color: #495057;">Lunedì</button>
        <button class="bottone" (click)="martedi()">Martedì</button>
        <button class="bottone" (click)="mercoledi()">Mercoledì</button>
        <button class="bottone" (click)="giovedi()">Giovedì</button>
        <button class="bottone" (click)="venerdi()">Venerdì</button>
    </div>
  
    <div style="margin-bottom:  -10px; margin-top: -20px;">
      <h1>Lunedi</h1>
    </div>

    <div   class="contenitore2">
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">camerino-cus</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:08:30</span>
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_8_30','camerino-cus')"> <span>Clicca per prenotare</span></a>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">camerino-cus</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:9:00</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_9','camerino-cus')"> <span>Clicca per prenotare</span></a>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:09:30</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_9_30','cus-camerino')"> <span>Clicca per prenotare</span></a>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:14:00</span>
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_14','cus-camerino')"> <span>Clicca per prenotare</span></a>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:10:00</span>   
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:11:00</span>   
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:11:00</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:11:00</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
    </div>
      <div *ngIf="!isMonday"  class="alert alert-danger" role="alert">
        Non è possibile effettuare la prenotazione
      </div>
  </div>

  </body>