
<body style="background-color: aqua;">


    <nav>
      <ul class="nav-bar">
        <div class="title"><img src="../../assets/icons/profilo.png" alt="icona profilo" class="icona-profilo"></div>
        <input
          type="checkbox"
          id="check" />
        <span class="menu">
          <li><a href="./about.html">About</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href=".signup.html">Sing-Up</a></li>
          <label
            for="check"
            class="close-menu"
            ><i class="fas fa-times"></i
          ></label>
        </span>
        <label
          for="check"
          class="open-menu"
          ><i
            class="fas fa-bars"
            style="color: white"></i
        ></label>
      </ul>
    </nav>
  
    <div class="contenitore-principale">
  
    <div class="contenitore-bottoni">
      <button class="bottone"  (click)="lunedi()">Lunedì</button>
      <button class="bottone" (click)="martedi()">Martedì</button>
      <button class="bottone">Mercoledì</button>
      <button class="bottone">Giovedì</button>
      <button class="bottone">Venerdì</button>
    </div>
  
   
    <div class="contenitore2">
      <div class="carta">
          <button  (click)="book()">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:11:00</span>
          </div>
        </div>
      </button>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">Lun:9:00</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">15:00</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">14:00</span>
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">10:00</span>   
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">11:00</span>   
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">11:00</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
      <div class="carta">
        <div class="prima-riga">
          <div class="left">
            <div class="indicatore"></div>
            <span class="cus">cus-camerino</span>
          </div>
          <div class="right">
            <span style="color: #9a9a9a; ">Orario</span>
            <span style="font-weight: 600;">11:00</span>  
          </div>
        </div>
        <div class="separatore"></div>
        <div class="seconda-riga">
          <span style="color: #2e2e2e; font-size: 0.9rem;">Clicca per prenotare</span>
        </div>
      </div>
    </div>
  </div>
  
  </body>