

  <body>
    <div class="immagine-sfondo">   
    </div>
    <nav>
      <ul class="nav-bar">
        <div class="title">
          <a (click)="home()"><img src="../../assets/icons/profilo.png" alt="icona profilo" class="icona-profilo"></a>
        </div>
      </ul>
    </nav>

    <body>
      <nav></nav>

      <div class="container">
        <div class="login form">
          <header>Registrati</header>
          <form  [formGroup]='reg' action="#">
            <div class="signup-row">
              <div class="signup-col">
                <label for="nome">nome</label>
                <input id="nome" type="text" formControlName="nome">
                <label for="cognome">cognome</label>
                 <input id="cognome" type="text" formControlName="cognome">
              </div>
              <div class="signup-col">
                <label for="email">Email</label>
                <input id="email" type="text" formControlName="email">
                <label for="password">password</label>
              <input id="password" type="password" formControlName="password">
              </div>
              <div class="signup-col">

                <label for="telefono">numero</label>
                <input id="telefono" type="text" formControlName="telefono">
              </div>
            </div>
            <input
              type="button"
              class="button"
              value="Signup"
              (click)="registra()" />
          </form>
          <div class="signup">
            <a (click)="login()"><span class="signup">Hai già un account? <label for="check">Login</label></span></a>
          </div>
        </div>
      </div>

      <!-- <div class="ritorna">
        <a >Torna alla home</a>
      </div> -->


   
    </body>
  

