
<div *ngIf="isUser()" >



  <div>
    <button (click)="reloadUsers()">Ricarica Utenti</button>
    
    <table>
      <thead>
        <tr>
          <th>username</th>
          <!-- Aggiungi altre colonne se necessario -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username}}</td>
          
          <!-- Aggiungi altre colonne se necessario -->
        </tr>
      </tbody>
    </table>


    <div *ngIf="utente">
      {{utente.nome}}
    </div>

    <div class="table table-responsive">
      <table  class="table">
          <thead>
          <tr>
              <th scope="col">username</th>
              <th scope="col">nome</th>
              <th scope="col">cognome</th>
              <th scope="col">numero</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let us of users">
              <td>{{us.username}}</td>
              <td>{{us.nome}}</td>
              <td>{{us.cognome}}</td>
              <td>{{us.telefono}}</td>
          </tr>
      
          </tbody>
      </table>
      </div>

    
  </div>
</div>
