
  body {
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
    --btn1: #0645bf;
    background-color: #dfdfdf;
  }
  
  .immagine-sfondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 0; /* Posiziona l'immagine dietro la navbar */
    background-color: #2196f3;
    background-position: top left;
    background-size: cover;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .immagine-sfondo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay nero con opacità per scurire l'immagine */
  z-index: 1; /* Assicura che l'overlay sia sopra l'immagine di sfondo */
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
  
  nav {
    padding: 1rem 0.2rem 0 0.2rem;
    height: 3rem;
    z-index: 101;
  }
  
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: transparent;
    padding: 12px 20px;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  }
  
  .title {
    color: var(--color2);
    font-size: 20px;
    font-weight: 600;
    z-index: 102;
  }
  
  .icona-profilo {
    width: 40px;
    height: 40px;
  }
  
  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
  }
  .menu li {
    list-style-type: none;
    background-color: #0645bf;
    border: 1px solid #0645bf;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 10px 10px 0; /* Aggiunto un margine destro e inferiore per distanziare gli elementi del menu */
    width: calc(50% - 10px); /* Imposta la larghezza di ogni elemento del menu per occupare metà dello spazio disponibile, sottraendo il margine */
   text-align: center;
  }
  .menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }
  .menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color2);
    transition: 0.15s ease-in-out;
    z-index: 100;
  }
  .menu li a:hover:after {
    width: 100%;
  }
  
  .open-menu,
  .close-menu {
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    font-size: 2rem;
    display: none;
    z-index: 100;
  }
  .open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  .close-menu {
    top: 60px;
    right: 60px;
  }
  #check {
    display: none;
  }
  @media (max-width: 610px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 5rem;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      background-color: var(--color1);
      color: var(--color2);
      transition: all 0.2s ease-in-out;
      transform: translateX(100%);
    }
    .menu li {
      margin-top: 20px;
    }
    .menu li a {
      padding: 10px;
    }
    .open-menu,
    .close-menu {
      display: block;
    }
    #check:checked ~ .menu {
      transform: translateX(0);
    }
  }
  
  
  .btn {
    background-color: #062574;
    margin: 0.2rem;

    border: none;
    color: white;

  }

  .btn:hover {
    background-color: #001241;
  }

  .bottone {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }

