
<div class="immagine-sfondo"></div>
<nav>
  <ul class="nav-bar">
    <a (click)="home()"><div class="title"><img src="../../assets/icons/profilo.png" alt="icona profilo" class="icona-profilo"></div></a>
    <input
      type="checkbox"
      id="check" />
    <span class="menu">
      <li><a (click)="logOut()">Logout</a></li>
      <label
        for="check"
        class="close-menu"
        ><i class="fas fa-times"></i
      ></label>
    </span>
    <label
      for="check"
      class="open-menu"
      ><i
        class="fas fa-bars"
        style="color: white"></i
    ></label>
  </ul>
</nav>