
 <body>
    <div class="immagine-sfondo">   
    </div>
    <nav>
      <ul class="nav-bar">
        <div class="title">
          <a (click)="home()"><img src="../../assets/icons/profilo.png" alt="icona profilo" class="icona-profilo"></a>
        </div>
        <input
          type="checkbox"
          id="check" />
        <span class="menu">
          <li><a href="./about.html">About</a></li>
          <li><a (click)="login()">Login</a></li>
          <li><a >Sing-Up</a></li>
          <label
            for="check"
            class="close-menu"
            ><i class="fas fa-times"
            style="color: black"></i
          ></label>
        </span>
        <label
          for="check"
          class="open-menu"
          ><i
            class="fas fa-bars"
            style="color: white"></i
        ></label>
      </ul>
    </nav>

    <div class="container">
      
      <input
        type="checkbox"
        id="check" />
      <div class="login form">
        <header>Login</header>
        <div *ngIf="loginMessage">{{ loginMessage }}</div>

        <form  [formGroup]='prova' action="#">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password">
          <a href="#">Hai dimenticato la tua password?</a>
          <input
          type="button"
          class="button"
          value="Login" (click)="onSubmit()"/>

        </form>
        <div class="signup">
          <span class="signup"
            >Non hai un account?
            <a (click)="registrazione()">Registrati</a>
          </span>
        </div>
      </div>
    </div>
    <div class="ritorna">
      <a href="./index.html">Torna alla home</a>
    </div>
  </body>
